.trafficLight {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px;
    padding: 20px;
    background-color: black;
    border-radius: 20px;
  }
  
  .light {
    width: 50px;
    height: 50px;
    margin: 10px 0;
    border-radius: 50%;
    background-color: grey;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .red {
    background-color: darkred;
  }
  
  .yellow {
    background-color: darkgoldenrod;
  }
  
  .green {
    background-color: darkgreen;
  }
  
  .active.red {
    background-color: red;
  }
  
  .active.yellow {
    background-color: yellow;
  }
  
  .active.green {
    background-color: green;
  }
  